.wrap {

    vertical-align: middle;
    margin-top: 240px;
}

.list-vragen{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.item{
    background-color:#88b0da;
    margin-bottom: 5px;
    padding: 10px 20px;
    width:100%;
    max-width: 700px;

}

.title-faq{  
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.title-Q{
    font-size:30px;
    font-weight:bolder;
    color: #1d3461;
}

.item .title-Q{
    font-size:21px;
}

.content{
    color:#fafdff;
    max-height: 0;
    overflow:hidden;
    transition: all 0s cubic-bezier(1,0,1,0);
    font-size:1rem;
}

.content.show{
    height:auto;
    max-height: 9999px;
    transition: all 0s cubic-bezier(0,1,0,1);
}

