.gesture_container{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.transcriptbox {
    background-color: #000;
    padding: 7px;
    color: #fff;
    opacity: .6;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    font-size: 35px;
}