*{
    box-sizing: border-box;
    /* padding: 3px;
    margin: auto;
    text-align: center; */
}
.maincontainer{
    width: 100%;
    height: 100vh;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    background-image: linear-gradient(120deg,#e7e8ea, #6290c3);
    /* background-image: url(../pictures/bg.jpg); */
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

    
}
.center{
    text-align: center;
}


header{
    font-size: 1.5rem;
}


header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border:none;
    background: white;
}

form button{
    color: #e48f78;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #e48f78;
    color:white; 
}

.home-header-img {
    max-width:100%;
}

#welkom{
    color:black;
    font-weight: bold;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



.hero-container{
    display:flex;
    justify-content: stretch;
    width:100vw;
    height:100vh;
    margin-top:-50px;
}

.hero-partition {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    color:white;
    font-size:20px;
    transition: .2s ease-in;
    text-decoration:none;
}

.hero-partition.left {
    background:hsla(241, 100%, 40%, 1);
}

.hero-partition.right {
    background:hsla(0, 100%, 40%, 1);
}

.hero-partition:hover {
    width:180%;
    font-size:50px;
    transition: .30s ease-out;
    cursor:pointer;
    color:white;
}

.hero-partition.left:hover {
    background:hsla(241, 100%, 50%, 1);
}

.hero-partition.right:hover {
    background:hsla(0, 100%, 50%, 1);
}