.loginPage {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: transparent;
}

input[type="text"], input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 12px;
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #6cf0c2;
}
.label{
    color:black;
}
.button-container {
    display: flex;
    justify-content: center;
}
.createAccountButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}
.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
    position: absolute;
    margin-top: 60px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
