.box{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    border-radius: 25px;
}
.Card {
    width: 300px;
    height: 400px;
    background-color: #3F88C5;
    border-radius: 25px;
}

.upper-container{
    height: 100px;
    background: #1D3461;
    border-radius: 25px 25px 0px 0px;
}
.profile-image-container img{
    background:white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px, 45px);
}
.lower-container{
    margin-top: 60px;
    height: 300px;
    background: #3F88C5;
    text-align: center;
    font-family: Calibri;
    border-radius: 0px 0px 25px 25px;
}
.lower-container h3, h4, p{
    margin: 0;
    padding: 0;
}

.lower-container h3{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.lower-container h4{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}
.cursussen_profilePage{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.cursus_container_profile{
    text-align: left;
    margin-left: 15px;
}
button {
    margin: 1rem;
    color: #2f2d2e;
    font: bold;
    background-color: white;
    border: 2px solid #1D3461;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}
