.intro-container {
    margin:1rem 0 0;
}

.intro-container p {
    margin:1rem 0 0;
    text-align: center;
}

.language-switch-button {
    margin:0 1rem;
}

form {
    min-height:0;
    margin:1rem 0 0;
}
.center{
    text-align: center;
}

.translate-result-container{
    margin:1rem 0 0;
    display:flex;
    justify-content: center;
}

.translate-result-container .picture {
    display:none;
}

.translate-result-container .picture.show {
    display:block;
}

.error-message {
    display:none;
}

.error-message.show {
    display:block;
}